.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
tsconfig.json
esbuild.js
**/*.map
out/**
install-local.sh

# Exclude non-runtime files from bundled dependencies.
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/__tests__/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/docs/**
node_modules/**/doc/**
node_modules/**/.github/**
node_modules/**/src/**
node_modules/**/deps/**
node_modules/**/benchmark/**
node_modules/**/benchmarks/**
node_modules/**/coverage/**
node_modules/**/build-tmp/**
node_modules/**/.nyc_output/**

node_modules/**/.npmignore
node_modules/**/.travis.yml
node_modules/**/.editorconfig
node_modules/**/.eslintrc*
node_modules/**/.prettier*
node_modules/**/tsconfig*.json
node_modules/**/binding.gyp
node_modules/**/gypfile.js

node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/*.ts
node_modules/**/*.tsx
